[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

numpy = "*"
keras = "*"
tensorflow = "*"
nltk = "*"
jupyter = "*"
matplotlib = "*"
jieba = "*"


[requires]

python_version = "3.5"


[dev-packages]

